<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empire.vince.vokers.carscanner">

    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utilities.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainMenuActivity" />
        <activity android:name=".login.SignupActivity" />
        <activity android:name=".activities.CarDetailsActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".admin.AdminProperties" />
        <activity android:name=".activities.FailedCarDetailsActivity" />
        <activity android:name=".activities.VehicleButtonMenuActivity" />
        <activity
            android:name=".activities.OffensesActivity"
            android:label="@string/title_activity_offenses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ShowOffenseActivity"></activity>
    </application>

</manifest>